@font-face {
    font-family: 'iran-sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../iran-sans-400.woff2') format('woff2'), url('../iran-sans-400.woff') format('woff');
}

@font-face {
    font-family: 'iran-sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../iran-sans-700.woff2') format('woff2'), url('../iran-sans-700.woff') format('woff');
}
